@media screen and (width < 450px) {

    .services-text {
        font-family: 'Roboto', sans-serif;
        padding: .5rem;
        font-size: 12px;
        font-weight: 600;
    }

    .white-text {
        color: white;
    }

    .services-section1, .services-section3 {
        background-color: #373434;
    }

    .services-section1, .services-section2, .services-section3, .services-section4, .services-section5 {
        padding-block: 1rem;
    }

    .services-section1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-section-text {
        padding: 1rem;
        position: relative;
        z-index: 10;
    }

    .services-section1-img img{
        height: 200px;
        width: 50vw;
        object-fit: cover;
        padding: 1rem;
    }

    .services-section2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-section3-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-section4 {
        display: flex;
        width: 100vw;
        height: auto;
        padding: 0;
    }

    .bg-image2 {
        position: absolute;
        width: 100vw;
        height: 210px;
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ),
                    url('../src/images/adam-stefanca-hdMSxGizchk-unsplash.jpg');
        filter: blur(1px);
        background-position: left 75%;
    }

    .services-section5 {
        margin-top: 3rem;
    }

    .services-vehicules {
        padding: 1rem 4rem;
        text-align: center;
    }

    .services-section5-title {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-weight: 900;
        padding: 1rem;
    }

    .asterisc {
        font-style: italic;
        font-size: 10px;
        font-weight: normal;
        text-align: left;
    }

    
}